Language: Cpp
Standard: c++20
BasedOnStyle: Google
ColumnLimit: 120
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
IndentPPDirectives: AfterHash
SortIncludes: true
IncludeCategories:
  - Regex: '^<gtest/.*\.h>'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<.*\.h>'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<.*'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
  - Regex: '.*'
    Priority: 4
    SortPriority: 0
    CaseSensitive: false
FixNamespaceComments: true
InsertBraces: true
QualifierAlignment: Left
PointerAlignment: Right
ReferenceAlignment: Right
SortUsingDeclarations: LexicographicNumeric
InsertNewlineAtEOF: true
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
EnumTrailingComma: Insert
KeepEmptyLines:
  AtStartOfFile: false
  AtStartOfBlock: false
  AtEndOfFile: false
LineEnding: LF
