Language: Cpp
Standard: c++20
BasedOnStyle: Google
ColumnLimit: 120
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
IndentPPDirectives: AfterHash
SortIncludes: true
FixNamespaceComments: true
InsertBraces: true
QualifierAlignment: Left
PointerAlignment: Right
ReferenceAlignment: Right
SortUsingDeclarations: LexicographicNumeric
InsertNewlineAtEOF: true
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtStartOfFile: false
  AtStartOfBlock: false
  AtEndOfFile: false
LineEnding: LF
