<!DOCTYPE html>
<html>
<head>
    <title>Task Directories</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <h1>Scoreboard</h1>
    <h3 style="color: red;">Note:</b> This is experimental and results are for reference only!</h3>
    <p>
        <b>(S)olution</b> - The correctness and completeness of the implemented solution.<br/>
        <b>(A)cceleration</b> - The process of speeding up software to improve performance.
        Speedup = T(seq) / T(parallel)<br/>
        <b>(E)fficiency</b> - Optimizing software speed-up by improving CPU utilization and resource management.
        Efficiency = Speedup / NumProcs * 100%<br/>
        <b>(D)eadline</b> - The timeliness of the submission in relation to the given deadline.<br/>
        <b>(P)lagiarism</b> - The originality of the work, ensuring no copied content from external sources.<br/>
    </p>
    <table>
        <tr>
            <th rowspan="2">Tasks</th>
            {% for type in task_types %}
                <th colspan="5" style="text-align: center;">{{ type }}</th>
            {% endfor %}
            <th rowspan="2">Total</th>
        </tr>
        <tr>
            {% for type in task_types %}
                {% for letter in ('S', 'A', 'E', 'D', 'P') %}
                    <th style="text-align: center;">{{ letter }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.task }}</td>
            {% for cell in row.types %}
                <td style="text-align: center{% if cell.solution_style %};{{ cell.solution_style }}{% endif %}">{{ cell.solution_points }}</td>
                <td style="text-align: center;background-color: lavender;">{{ cell.acceleration }}</td>
                <td style="text-align: center;background-color: lavender;">{{ cell.efficiency }}</td>
                <td style="text-align: center;">{{ cell.deadline_points }}</td>
                <td style="text-align: center{% if cell.plagiarised %}; background-color: pink{% endif %}">{{ cell.plagiarism_points }}</td>
            {% endfor %}
            <td style="text-align: center;">{{ row.total }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
