name: "Label PRs"

on:
  - pull_request_target

permissions:
  contents: read

jobs:
  label-pull-requests:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: Apply labels based on changed files
        uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: ".github/labeler.yml"
          sync-labels: true
          dot: true
