on:
  workflow_call:

jobs:
  ubuntu-gcc-build-perf-stats:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/learning-process/ppc-ubuntu:1.1
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup environment
        run: |
          python3 -m pip install -r requirements.txt --break-system-packages --ignore-installed
      - name: Download installed package
        uses: actions/download-artifact@v5
        with:
          name: ubuntu-gcc-install-ubuntu-24.04
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-gcc-install-ubuntu-24.04.tar.gz -C install
      - name: Run perf tests
        run: |
          bash -e scripts/generate_perf_results.sh
        env:
          PPC_NUM_PROC: 2
          PPC_NUM_THREADS: 2
          OMPI_ALLOW_RUN_AS_ROOT: 1
          OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      - name: Archive results
        working-directory: build
        run: zip -r ../perf-stat.zip perf_stat_dir
      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: perf-stat
          path: perf-stat.zip
  macos-clang-build-perf-stats:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'
      - name: Setup environment
        run: |
          brew update
          brew install ninja mpich llvm libomp openssl
          brew link libomp --overwrite --force
          python3 -m pip install -r requirements.txt --break-system-packages
      - name: Download installed package
        uses: actions/download-artifact@v5
        with:
          name: macos-clang-install
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf macos-clang-install.tar.gz -C install
      - name: Run perf tests
        run: |
          bash -e scripts/generate_perf_results.sh
        env:
          PPC_NUM_PROC: 1
          PPC_NUM_THREADS: 2
      - name: Archive results
        working-directory: build
        run: zip -r perf-stat-macos.zip perf_stat_dir
      - name: Upload results
        uses: actions/upload-artifact@v4
        with:
          name: perf-stat-macos
          path: perf-stat-macos.zip
