name: Pre-commit checks

on:
  push:
  pull_request:
  workflow_call:

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/learning-process/ppc-ubuntu:1.1
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Setup environment
        run: |
          python3 -m pip install -r requirements.txt --break-system-packages --ignore-installed
      - name: Configure git safe directory
        run: |
          git config --global --add safe.directory '*'
      - name: Run pre-commit checks
        run: |
          FROM_REF="${{ github.base_ref || 'HEAD~1' }}"
          git fetch origin $FROM_REF:$FROM_REF || true
          pre-commit run --from-ref $FROM_REF --to-ref HEAD
