name: Static analysis

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' && github.event_name != 'merge_group' && !startsWith(github.ref, 'refs/heads/gh-readonly-queue') }}  # yamllint disable-line

jobs:
  clang-tidy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-clang
      - uses: aobolensk/clang-tidy-review@v0.20.1-patch-clang-tidy-19
        id: review
        with:
          build_dir: build
          apt_packages: mpich,libmpich*,mpi*,openmpi-bin,ninja-build,libomp-19-dev,valgrind,libopencv-dev
          cmake_command: >
            cmake -S . -B build
            -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
            -D USE_FUNC_TESTS=ON -D USE_PERF_TESTS=ON
            -G Ninja
            -D USE_SEQ=ON -D USE_MPI=ON
            -D USE_OMP=ON -D USE_TBB=ON -D USE_STL=ON
            -D CMAKE_BUILD_TYPE=RELEASE -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
            -D USE_SYSTEM_OPENCV=ON
          config_file: .clang-tidy
          exclude: 3rdparty
          split_workflow: true
          clang_tidy_version: "19"
          lgtm_comment_body: ""
        env:
          CC: clang-19
          CXX: clang++-19
      - if: steps.review.outputs.total_comments > 0
        run: |
          echo "clang-tidy run has failed. See previous 'Run clang-tidy' stage logs"
          exit 1
  clang-tidy-for-gcc-build:
    needs:
      - clang-tidy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-gcc
      - uses: aobolensk/clang-tidy-review@v0.20.1-patch-clang-tidy-19
        id: review
        with:
          build_dir: build
          apt_packages: mpich,libmpich*,mpi*,openmpi-bin,ninja-build,libomp-19-dev,valgrind,libopencv-dev
          cmake_command: >
            cmake -S . -B build
            -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
            -G Ninja
            -D USE_FUNC_TESTS=ON -D USE_PERF_TESTS=ON
            -D USE_SEQ=ON -D USE_MPI=ON
            -D USE_OMP=ON -D USE_TBB=ON -D USE_STL=ON
            -D CMAKE_BUILD_TYPE=RELEASE -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
            -D USE_SYSTEM_OPENCV=ON
          config_file: .clang-tidy
          exclude: 3rdparty
          split_workflow: true
          clang_tidy_version: "19"
          lgtm_comment_body: ""
      - if: steps.review.outputs.total_comments > 0
        run: |
          echo "clang-tidy run has failed. See previous 'Run clang-tidy' stage logs"
          exit 1
