on:
  workflow_call:

jobs:
  ubuntu-gcc-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
        build_type: [Release, Debug]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y gcc-14 g++-14 ninja-build libmpich-dev libomp-dev valgrind
          python3 -m pip install -r requirements.txt
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-gcc
          create-symlink: true
          max-size: 1G
      - name: CMake configure
        run: >
          cmake -S . -B build -G Ninja
          -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
          -D CMAKE_BUILD_TYPE=${{ matrix.build_type == 'Release' && 'RelWithDebInfo' || matrix.build_type }} -DCMAKE_INSTALL_PREFIX=install
        env:
          CC: gcc-14
          CXX: g++-14
      - name: Archive revert list
        uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'ubuntu-24.04' && matrix.build_type == 'Release' }}
        with:
          name: revert-list
          path: build/revert-list.txt
      - name: Build project
        run: |
          cmake --build build --parallel
        env:
          CC: gcc-14
          CXX: g++-14
      - name: Install project
        run: |
          cmake --build build --target install
      - name: Archive installed package
        uses: ./.github/actions/archive-install
        with:
          path: install
          name: ${{ matrix.build_type == 'Debug' &&
            format('ubuntu-gcc-debug-install-{0}', matrix.os) ||
            format('ubuntu-gcc-install-{0}', matrix.os) }}
  ubuntu-gcc-test:
    needs:
      - ubuntu-gcc-build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y gcc-14 g++-14 ninja-build libmpich-dev libomp-dev valgrind
          python3 -m pip install -r requirements.txt
      - name: Download installed package
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-gcc-install-${{ matrix.os }}
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-gcc-install-${{ matrix.os }}.tar.gz -C install
      - name: Run func tests (MPI)
        run: python3 scripts/run_tests.py --running-type="processes" --counts 1 2 3 4
        env:
          PPC_NUM_THREADS: 1
      - name: Run func tests (threads)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 1 2 3 4
        env:
          PPC_NUM_PROC: 1
  ubuntu-gcc-test-extended:
    needs:
      - ubuntu-gcc-test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y gcc-14 g++-14 ninja-build libmpich-dev libomp-dev valgrind
          python3 -m pip install -r requirements.txt
      - name: Download installed package
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-gcc-install-${{ matrix.os }}
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-gcc-install-${{ matrix.os }}.tar.gz -C install
      - name: Run func tests (threads extended)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 5 7 11 13
        env:
          PPC_NUM_PROC: 1
  ubuntu-clang-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ninja-build libmpich-dev python3-pip valgrind
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 20 all
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-clang
          create-symlink: true
          max-size: 1G
      - name: CMake configure
        run: >
          cmake -S . -B build -G Ninja
          -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
          -D CMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=install
        env:
          CC: clang-20
          CXX: clang++-20
      - name: Build project
        run: |
          cmake --build build --parallel
        env:
          CC: clang-20
          CXX: clang++-20
      - name: Install project
        run: |
          cmake --build build --target install
      - name: Archive installed package
        uses: ./.github/actions/archive-install
        with:
          path: install
          name: ubuntu-clang-install-${{ matrix.os }}
  ubuntu-clang-test:
    needs:
      - ubuntu-clang-build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ninja-build libmpich-dev python3-pip valgrind
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 20 all
      - name: Download installed package
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-clang-install-${{ matrix.os }}
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-clang-install-${{ matrix.os }}.tar.gz -C install
      - name: Run func tests (MPI)
        run: python3 scripts/run_tests.py --running-type="processes" --counts 1 2 3 4
        env:
          PPC_NUM_THREADS: 1
      - name: Run tests (threads)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 1 2 3 4
        env:
          PPC_NUM_PROC: 1
  ubuntu-clang-test-extended:
    needs:
      - ubuntu-clang-test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-24.04-arm"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ninja-build libmpich-dev python3-pip valgrind
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 20 all
      - name: Download installed package
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-clang-install-${{ matrix.os }}
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-clang-install-${{ matrix.os }}.tar.gz -C install
      - name: Run tests (threads extended)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 5 7 11 13
        env:
          PPC_NUM_PROC: 1
  ubuntu-clang-sanitizer-build:
    needs:
      - ubuntu-clang-build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ninja-build python3-pip \
              openmpi-bin openmpi-common libopenmpi-dev
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 20 all
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-clang
          create-symlink: true
          max-size: 1G
      - name: CMake configure
        run: >
          cmake -S . -B build -G Ninja
          -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
          -D CMAKE_BUILD_TYPE=RelWithDebInfo
          -D ENABLE_ADDRESS_SANITIZER=ON -D ENABLE_UB_SANITIZER=ON -D ENABLE_LEAK_SANITIZER=ON
          -D CMAKE_INSTALL_PREFIX=install
        env:
          CC: clang-20
          CXX: clang++-20
      - name: Build project
        run: |
          cmake --build build --parallel
        env:
          CC: clang-20
          CXX: clang++-20
      - name: Install project
        run: |
          cmake --build build --target install
      - name: Archive installed package
        uses: ./.github/actions/archive-install
        with:
          path: install
          name: ubuntu-clang-sanitizer-install-${{ matrix.os }}
  ubuntu-clang-sanitizer-test:
    needs:
      - ubuntu-clang-sanitizer-build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ninja-build python3-pip valgrind \
              openmpi-bin openmpi-common libopenmpi-dev
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 20 all
      - name: Download installed package
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-clang-sanitizer-install-${{ matrix.os }}
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-clang-sanitizer-install-${{ matrix.os }}.tar.gz -C install
      - name: Run tests (MPI)
        run: python3 scripts/run_tests.py --running-type="processes" --counts 2 --additional-mpi-args="--oversubscribe"
        env:
          PPC_NUM_THREADS: 2
          PPC_ASAN_RUN: 1
          ASAN_OPTIONS: abort_on_error=1
          UBSAN_OPTIONS: halt_on_error=1
      - name: Run tests (threads)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 1 2 3 4
        env:
          PPC_NUM_PROC: 1
          PPC_ASAN_RUN: 1
          ASAN_OPTIONS: abort_on_error=1
          UBSAN_OPTIONS: halt_on_error=1
  ubuntu-clang-sanitizer-test-extended:
    needs:
      - ubuntu-clang-sanitizer-test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-24.04"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ninja-build python3-pip valgrind \
              openmpi-bin openmpi-common libopenmpi-dev
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 20 all
      - name: Download installed package
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-clang-sanitizer-install-${{ matrix.os }}
      - name: Extract installed package
        run: |
          mkdir -p install
          tar -xzvf ubuntu-clang-sanitizer-install-${{ matrix.os }}.tar.gz -C install
      - name: Run tests (threads extended)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 5 7 11 13
        env:
          PPC_NUM_PROC: 1
          PPC_ASAN_RUN: 1
  ubuntu-gcc-build-codecov:
    needs:
      - ubuntu-gcc-test-extended
      - ubuntu-clang-test-extended
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup environment
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            gcc-14 g++-14 ninja-build libmpich-dev libomp-dev valgrind gcovr
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ runner.os }}-gcc
          create-symlink: true
          max-size: 1G
      - name: CMake configure
        run: >
          cmake -S . -B build -G Ninja
          -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache
          -D CMAKE_BUILD_TYPE=RelWithDebInfo
          -D CMAKE_VERBOSE_MAKEFILE=ON -D USE_COVERAGE=ON
      - name: Build project
        run: |
          cmake --build build --parallel
      - name: Run tests (MPI)
        run: python3 scripts/run_tests.py --running-type="processes"
        env:
          PPC_NUM_PROC: 2
          PPC_NUM_THREADS: 2
      - name: Run tests (threads)
        run: python3 scripts/run_tests.py --running-type="threads" --counts 1 2 3 4
        env:
          PPC_NUM_PROC: 1
      - name: Generate gcovr Coverage Data
        run: |
          mkdir cov-report
          cd build
          gcovr -r ../ \
                --exclude '.*3rdparty/.*' \
                --exclude '/usr/.*' \
                --exclude '.*tasks/.*/tests/.*' \
                --exclude '.*modules/.*/tests/.*' \
                --exclude '.*tasks/common/runners/.*' \
                --exclude '.*modules/core/runners/.*' \
                --exclude '.*modules/core/util/include/perf_test_util.hpp' \
                --exclude '.*modules/core/util/include/func_test_util.hpp' \
                --exclude '.*modules/core/util/src/func_test_util.cpp' \
                --xml --output ../coverage.xml \
                --html=../cov-report/index.html --html-details
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.4.3
        with:
          files: coverage.xml
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: cov-report
          path: 'cov-report'
